<nav class="navbar navbar-expand-lg navbar-light bg-primary text-dark">

  <div class="container">
          <a class="navbar-brand" routerLink="/"><img src="../../../assets/sombrero-de-graduacion.png" width="32px" height="32px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/signin" routerLinkActive="active">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/createuser" routerLinkActive="active">Registrarse</a>
                </li>
              </ng-container>
              <ng-template #loggedIn>
                <li class="nav-item">
                  <a class="nav-link" (click)="authService.logout()">Cerrar Sesión</a>
                </li>
              </ng-template>
            </ul>
          </div>
        </div>
</nav>
