  
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Iniciar Sesión
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="users.MATRICULA" name="MATRICULA" class="form-control" placeholder="MATRICULA" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="users.PASSWORD" name="PASSWORD" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-success btn-block">
                        Inicia Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>