    <div class="col-md-4" *ngFor="let users of usuarios">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
                {{users.MATRICULA}}
                <button class="btn btn-danger" (click)='deleteUser(users.ID_USUARIO)'>
                   <img src="../../../assets/tugurio.png" width="15px" height="15px">
                </button>
            </div>
            <div class="card-body">
                <p>{{users.NOMBRE}}</p>
                <p>{{users.APELLIDO_P}}</p>
                <p>{{users.APELLIDO_M}}</p>
                <a [routerLink]="['/updateuser',users.ID_USUARIO]" class="btn btn-info btn-block">
                    EDITAR
                </a>
            </div>
        </div>
    </div>    
