<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <h2>Editar Campos</h2>
            <form>
                <div class="form-group">
                    <input type="text" name="NOMBRE" [(ngModel)]="users.NOMBRE" placeholder="Nombre" class="form-control"> 
                 </div>
                 <div class="form-group">
                    <input type="text" name="APELLIDO_P" [(ngModel)]="users.APELLIDO_P" placeholder="Apellido Paterno" class="form-control"> 
                 </div>
                 <div class="form-group">
                    <input type="text" name="APELLIDO_M" [(ngModel)]="users.APELLIDO_M" placeholder="Apellido Materno"class="form-control"> 
                 </div>
                 <button class="btn btn-success btn-block" (click)="update()">
                    Actualizar
                 </button>
            </form>
        </div>
    </div>
</div>